/*
	Main CSS file
	
	Except for certain parts, this file, excluding any linked files, is released into public domain.
*/

@import url( "fonts/Roboto/font.css" );

body {
	padding: 0;
	background: #0b0c0d;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
	font-style: italic;
	text-shadow: 0px -1px 0px #283593;
}

section {
	display: table;
	width: 100%;
	height: 105vh;
	padding: 10px 0 20px 0;
}

section .sectionContent {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

section h2 {
	font-size: 30px;
}

section p {
	padding-left: 30%;
	padding-right: 30%;
}

a {
	color: inherit;
}

#contentBorder {
	padding: 0;
	position: absolute;
	top: 35px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 10px 10px 10px;
	border: 1px solid #4a9299;
}

#content {
	margin: 0 auto;
	padding: 30% 0 0 0;
	width: 100%;
	text-align: center;
	font-family: "RobotoDraft", "Roboto", sans-serif;
	color: #cca844;

}

#content h1 {
	color: transparent;
	display: none;
}

#logo {
	height: auto;
	max-width: 60%;
}

/*
	Copyright (c) 2015 by Chris Harrison (http://codepen.io/cdharrison/pen/HxKnC)
	
	Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
	
	The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
	
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.ingress-button {
	display: block;
	background: #004646;
	border: 1px solid cyan;
	color: #fff;
	display: inline-block;
	margin: 5px;
	padding: 10px 50px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.ingress-button:before {
	border-left: 4px solid transparent;
	border-bottom: 4px solid darkcyan;
	content: '';
	display: block;
	height: 2px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 14px;
	z-index: 5;
}
.ingress-button:after {
	border-left: 5px solid transparent;
	border-bottom: 5px solid cyan;
	content: '';
	display: block;
	height: 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15px;
	z-index: 4;
}
.ingress-button:hover {
	background: #005858;
	color: #fff;
}
.ingress-button:hover:before {
	border-bottom-color: #005858;
}

/* Copyright 2012 Google Inc. All rights reserved. */
.separator {
	display: table;
	position: absolute;
	height: 27px;
	table-layout: fixed;
	width: 100%;
	padding: 0;
	margin-left: -7px;
}

.separator_left_arm {
	background: repeat-x url(../images/border_top.png);
	display: table-cell;
	z-index: 1;
}

.separator_center {
	background: no-repeat url(../images/border_diag.png);
	display: table-cell;
	width: 29px;
}

.separator_right_arm {
	background: repeat-x url(../images/border_bottom.png);
	display: table-cell;
}
